name: Deploy to Cloud Run

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
    
    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy stickermule-app \
          --source . \
          --region us-central1 \
          --allow-unauthenticated \
          --service-account=github-actions@stickermulepractice.iam.gserviceaccount.com \
          --set-env-vars DATABASE_URL="${{ secrets.DATABASE_URL }}",JAEGER_ENDPOINT="${{ secrets.JAEGER_ENDPOINT }}",REDIS_ADDR="${{ secrets.REDIS_ADDR }}"